/*My Awesome Zen Garden Site*/

/*Color Palette*/

/*Layout*/
* {
    box-sizing: border-box;
    
}


/*Footer Nav*/
footer {
    background: yellow;
    display: flex;
    justify-content: space-around;
}