/*My Awesome Zen Garden Site*/

/*Color Palette*/

/*Layout*/
* {
    box-sizing: border-box;
    
}


/*Footer Nav*/
footer {
    background: yellow;
    display: flex;
    justify-content: space-around;
}

footer a {
    
    display: inline;
    padding: 1em;
}

/*first frame*/
footer a {
    text-indent: -1000px;
    transition: prop 1s;
}

/*last frame*/
footer:hover a {
    text-indent: 0;
}